/* =========================
   TIMELINE BASE
========================= */

.timeline{
  --timelineMainColor: #001418;
  --timelineSecondaryColor: #ffffff;  
  --uiTimelineMainColor: var(--timelineMainColor, #001418);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
  position: relative;
  padding: 3rem 0;
}


/* Línea vertical */

.timeline::before{
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 2px;
  height: 100%;
  background-color: var(--timelineMainColor);
}

/* =========================
   GROUP
========================= */

.timeline__group{
  position: relative;
  padding-top: 55px;
}

.timeline__group:not(:first-child){
  margin-top: 4rem;
}

/* =========================
   YEAR LABEL
========================= */

.timeline__year{

  position: absolute;
  left: 0;
  top: 0;

  padding: .5rem 3.5rem;

  color: white;

  background: linear-gradient(
    315deg,
    #ff0000,
    #ff9400,
    #eeff00,
    #179242,
    #ff0090,
    #f0a0d1,
    #a0f0df,
    #0bbd97
  );

  background-size: 1000% 100%;

  animation: AnimationName 59s ease infinite;
  -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
}

/* =========================
   ITEM BOX
========================= */

.timeline__box{

  position: relative;
  padding-left: 80px;
  padding-right: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
}


/* Línea horizontal */

.timeline__box::before{

  content: "";

  position: absolute;
  left: 30px;
  top: 30px;

  width: 50px;
  height: 2px;

  background-color: var(--timelineMainColor);
}

/* =========================
   ICON DATE
========================= */

.timeline__date{

  position: absolute;
  left: 0;
  top: 10px;

  background-color: var(--timelineMainColor);
  color: white;
  background-color: var(--uiTimelineMainColor);
  color: var(--uiTimelineSecondaryColor);

  padding: .5rem 0.5rem;
  min-width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline__day{
  font-size: 1.2rem;
  display: block;
  padding-left: 12px;
}

/* =========================
   POST CARD
========================= */

.timeline__post{

  border: 2px dotted var(--timelineMainColor);

  padding: 1.5rem;

  background-color: white;

  box-sizing: border-box;

  transition: all .2s ease;
}


/* Hover efecto profesional */

.timeline__post:hover{

  transform: translateY(-3px);

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* =========================
   CONTENT FLEX
========================= */

.timeline__content{

  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 20px;
}


/* TEXTO */

.timeline__content p{

  margin: 0;

  flex: 1;
}


.timeline__post .title{

  font-weight: bold;
  color: black;
}

.timeline__post .year{

  color: black;
}

/* LOGOS */

.timeline__content img{

  width: 100px;
  height: auto;
  flex-shrink: 0;
}

/* =========================
   TABLET
========================= */

@media (max-width: 991px){

  .timeline__box{

    padding-left: 70px;
  }

  .timeline::before {
    height: 97%;
  }


}



/* =========================
   MOBILE
========================= */

@media (max-width: 640px){

  .timeline::before{

    left: 20px;
    height: 98%;
  }


  .timeline__box{

    padding-left: 55px;
  }


  .timeline__box::before{

    left: 20px;
    width: 35px;
  }


  .timeline__date{

    /*left: -5px;*/
  }


  .timeline__content{

    flex-direction: column;

    align-items: flex-start;
  }


  .timeline__content img{

    margin-top: 10px;
  }

}



/* =========================
   ANIMATION
========================= */

@keyframes AnimationName {

  0%{background-position:0% 50%}

  50%{background-position:100% 50%}

  100%{background-position:0% 50%}

}




